<div class="container">
  <h2 class="fw-bold fs-3 mb-5" style="color: blueviolet">{{ title }}</h2>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6">
      <label class="mb-1 title">Buscar destinatario</label>
      <div class="mb-5">
        <input type="text" class="form-control title" placeholder="Buscar por nombre o rut" aria-label="Username">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6">
      <label class="mb-1 title"><b> Nombre destinatario:</b></label><br>
      <label class="mb-1 title"><b>Correo:</b></label><br>
      <label class="mb-1 title"><b> Banco:</b></label><br>
      <label class="mb-1 title"><b>Tipo de cuenta:</b></label><br>
      <label class="mb-1 title"><b>Número de cuenta:</b></label>
    </div>
    <div class="col-xl-6">
      <label class="mb-1 title">Nombre destinatario:</label><br>
      <label class="mb-1 title">Correo:</label><br>
      <label class="mb-1 title">Banco:</label><br>
      <label class="mb-1 title">Tipo de cuenta:</label><br>
      <label class="mb-1 title">Número de cuenta:</label>
      <br><br><br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 mb-3">
      <label class="mb-1 title"><b> Monto a transferir</b></label>
      <div class="mb-5">
        <input type="text" class="form-control title" placeholder="ingrese monto que desea transferir" aria-label="Username">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 text-center">
      <button type="button" class="btn btn-lg btn-crear">Transferir monto</button>
    </div>
  </div>
</div>
