.btn-crear{
  color: white;
  background-color: blueviolet;
}

.title {
  color: blueviolet;
}

::ng-deep .success-style {
  background-color:lightgreen;
  color:white;
}

::ng-deep .warning-style {
  background-color:red;
  color:white;
}
